all:
    hosts:
{% for ip in hostips.dict.keys() %}
        {{ ip }}:
            ansible_host: {{ ip }}
{% endfor %}
    vars:
        # be sure to set the ansible_user to the user you want to use
        ansible_user: root
        K3S_DOCKER_ENABLE: true
        K3S_POSTGRESQL_ENABLE: false
    children:
        k3s_masters:
            hosts:
        k3s_agents:
            hosts:
{% for ip in hostips.dict.keys() %}
                {{ ip }}:
{% endfor %}
        k3s_cluster:
            children:
                k3s_masters:
                k3s_agents: